.page{
  width:600px;
  height: 1200px;
  text-align: center;
  padding-top: 15px;
  margin-left: 600px;
  border: 2px black;
}

.afaire{
  height: 300px;

}

.archive{
  height: 300px;
}

.tache{
  background-image: url('ajouter.jpeg');
  background-repeat: no-repeat;
  background-size: 600px;
  height: 200px;
  padding-top: 15px;
}

h2{
  text-shadow: 3px 3px 3px white;
}

.listes{
  background-image: url('fond.jpg');
  background-repeat: no-repeat;
  opacity: 0.9;
}
