body{
  display: grid;
  grid-template-columns: 600px 600px 600px;
  grid-template-rows: auto auto auto auto;
  background-image: url('page2.jpg');
  background-size: cover;
  font-family: 'Courgette', cursive;
  font-size: 20px;

}
.page{
  grid-column: 2;
}

.tache{
  grid-row: 2;
  background-image: url('ajouter.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  height: 200px;
  padding-top: 30px;
}

.afaire{
  grid-row: 3;
  /* padding-left: 10px; */
}

.archive{
  grid-row: 4;
  padding-bottom: 20px;
  /* padding-left: 20px; */
}

h1{
  text-align: center;
}

h2{
  text-shadow: 3px 3px 3px white;
  text-align: center;
}

.listes{
  background-image: url('fond.jpg');
  background-repeat: no-repeat;
  opacity: 0.9;
}

.ajout{
  color: blue;
  border-color: blue;
  height: 30px;
  border-radius: 15px;
  width: 90px;
}

.valider{
  color:green;
  border-color:green;
  height: 30px;
  margin-left: 20px;
  border-radius: 15px;
  width: 90px;
}

.suppr{
  color: red;
  border-color:red;
  border-radius: 15px;
  height: 30px;
  width: 90px;
  margin-left: 17px;
 }
